@media(max-width:1140px){
    .aparelhos .container .container.flex{
        max-width: 690px;
    }
}

@media(max-width:1000px){
    .principal{
        padding: 0 20px;
    }
}

@media(max-width:850px){
    .principal h1{
        font-size: 30px;
        line-height: 35px;
    }

    .destaques .container ul li{
        width: 200px;
        align-items: center;
    }

    .destaques .container ul li img{
        width: 30px;
    }

    .destaques .container ul li p{
        font-size: 12px;
    }

    .localizacao .container .mapa{
        width: 600px;
    }
}

@media(max-width:675px){
    .cabecalho{
        justify-content: center;
        padding: 0 20px;
        position: relative;
    }

    .cabecalho .menu{
        position: absolute;
        right: 30px;
        top: 20px;
        height: 20px;
        width: 20px;
    }

    .cabecalho .menu label{
        display: flex;
    }

    .cabecalho .menu .lista-de-navegacao{
        position: absolute;
        right: 0;
        top: 30px;
        box-shadow: 0 2px 5px #3E3636;
        background-color: #fff;
        width: 300px;
        height: 0px;
        overflow: hidden;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.2s ease-in-out;
    }

    .cabecalho .menu .lista-de-navegacao li{
        border: 1px solid #D72323;
        border-radius: 15px;
        width: 230px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 8px;
        
    }

    .cabecalho .menu .lista-de-navegacao li:hover{
        border: 2px solid #fff;
        box-shadow: 0 0 5px #D72323;
    }

    .cabecalho .menu .lista-de-navegacao li a{
        margin: auto 0;
        font-weight: 600;
        font-size: 20px;
    }
    
    .cabecalho .menu .lista-de-navegacao li a:hover{
        border-bottom: 2px solid #d7232300;
    }

    .cabecalho .menu input:checked ~ ul{
        display: flex;
        height: 250px;
    }

    .informacoes .container ul li p{
        font-size: 12px;
    }

    .localizacao .container .mapa{
        width: 450px;
    }
}

@media(max-width:575px){
    .principal .container{
        padding: 30px 0;
    }
    
    .principal h1{
        font-size: 21px;
        line-height: 25px;
    }

    .destaques .container ul li p{
        font-size: 10px;
    }

    .localizacao .container .mapa{
        width: 400px;
    }

}