@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

*{
    font-family: "montserrat", sans-serif;
}

.flex{
    display: flex;
}

.cabecalho{
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.cabecalho .logo img{
    height: 70px;
    padding-top: 5px;
}

.cabecalho .menu label .menu-hamburger{
    display: none;
}

.cabecalho .menu .lista-de-navegacao li a{
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #d7232300;
    transition: all 0.1s ease-in-out;
    
}

.cabecalho .menu .lista-de-navegacao li a:hover{
    border-bottom: 2px solid #D72323;
}

.principal{
    max-width: 900px;
    margin: auto;
}

.principal .container{
    padding: 50px 0;
}

.principal h1{
    max-width: 730px;
    font-size: 42px;
    font-weight: 700;
    color: #3E3636;
    margin-bottom: 20px;
}

.principal h1 span{
    color: #D72323;
}

.principal .container button a{
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #D72323;
    border-radius: 20px;
    font-weight: 500;
    color: #D72323;
    transition: 0.2s ease-in-out;
}

.principal .container button a:hover{
    background-color: rgb(102, 220, 102);
    color: #fff;
    border:2px solid #fff;
    box-shadow: 0 0 5px rgb(102, 220, 102);
}

.principal img{
    width: 40%;
    align-self: flex-end;
}

.destaques{
    background-color: #000;
}

.destaques .container ul{
    justify-content: space-around;
    color: #fff;
    height: 100px;
    align-items: center;
}

.destaques .container ul li{
    width: 265px;
    align-items: center;
}

.destaques .container ul li img{
    filter: invert(1);
    width: 40px;
    height: 100%;
    margin-right: 10px;
}

.localizacao{
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}

.localizacao h2{
    margin-bottom: 30px;
    text-transform: uppercase;
}