@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: "montserrat", sans-serif;
}

.flex{
    display: flex;
}

.cabecalho{
    padding: 10px 0;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho .logo img{
    height: 70px;
    padding-top: 5px;
}

.cabecalho .menu .lista-de-navegacao li a{
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #d7232300;
    transition: all 0.1s ease-in-out;
    
}

.cabecalho .menu .lista-de-navegacao li a:hover{
    border-bottom: 2px solid #D72323;
}

.principal{
    max-width: 900px;
    margin: auto;
}

.principal .container{
    padding: 50px 0;
}

.principal h1{
    max-width: 730px;
    font-size: 42px;
    font-weight: 700;
    color: #3E3636;
    margin-bottom: 20px;
    line-height: 45px;
}

.principal h1 span{
    color: #D72323;
}

.principal .container button a{
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #D72323;
    border-radius: 20px;
    font-weight: 500;
    color: #D72323;
    transition: 0.2s ease-in-out;
}

.principal .container button a:hover{
    background-color: rgb(102, 220, 102);
    color: #fff;
    border:2px solid #fff;
    box-shadow: 0 0 5px rgb(102, 220, 102);
}

.principal img{
    width: 40%;
    align-self: flex-end;
}

.informacoes .container ul{
    background-color: #000;
    justify-content: space-evenly;
    color: #fff;
}

.informacoes .container ul .item-lista{
    max-width: 265px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.informacoes .container ul li img{
    filter: invert(1);
    width: 45px;
    padding: 10px;
}

.informacoes .container ul li p{
    font-size: 15px;
    font-weight: 600;
}

.aparelhos{
    margin: 100px 0;
    width: 100%;
}

.aparelhos>.container{
    margin: 0 auto;
}

.aparelhos .container h2{
    margin-bottom: 30px;
    font-size: 36px;
}

.aparelhos .container .container.flex{
    flex-wrap: wrap;
    justify-content: center;
}

.aparelhos .align{
    text-align: center;
}

.aparelhos img{
    height: 120px;
    margin: 20px 20px 10px;
}

.aparelhos p{
    font-weight: 600;
}

.rifa{
    width: 100%;
    justify-content: center;
}

.rifa .container{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 6.5%, rgba(0,0,0,1) 73%);
}

.rifa .container picture img{
    width: 100%;
}

.localizacao{
    text-align: center;
    justify-content: center;
    margin: 100px auto;
    width: 100%;
}

.localizacao h2{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.localizacao .container .mapa{
    width: 900px;
}